/* =============================================================================
   TYPOGRAPHY (elements/_typography.scss)
   ========================================================================== */


.bx--type-xxl {
  @extend %txt-mega-xxl;
}

.bx--type-xl {
  @extend %txt-mega-xl;
}

.bx--type-p {
  @extend %txt-paragraph;
  &.text-light {
    color: $grey06;
  }
  &.text-bold {
    font-family: Telefonicabold;
  }
  &.small {
    @extend %txt-small;
  }
}

.bx--type-b {
  @extend %txt-body;
}

.bx--type-caption {
  @extend %txt-caption;
}

.bx--type-legend {
  @extend %txt-legend;
}

.bx--type-quote {
  @extend %txt-blockquote;
}

.bx--type-note {
  @extend %txt-note;
}

.bx--type-note_light {
  @extend %txt-note-light;
}

.bx--type-subH2 {
  @extend %txt-subtitle-h2;
}

.bx--type-subH2b {
  @extend %txt-subtitle-h2-bold;
}


.bx--type-label {
  @extend %txt-label;
  &.selected {
    font-family: Telefonicabold;
  }
}
p {
  &.text {
    @extend %txt-text-positive;
    &.light {
      color: $grey01;
    }
  }
  &.note {
    @extend %txt-note;
    margin-top: 5px;
  }
}
