/* =============================================================================
   GRID (objects/_grid.scss)
   ========================================================================== */

.main {
  width: 100%;
  .content {
      max-width: 1440px;
      margin: 0 auto;
  }
}
