<div class="content">
  <p class="note">
    Features
  </p>
  <h2 class="bx--type-xl">
    Verify your customer’s mobile number instantly  and securely
  </h2>

  <div class="row">
    <div class="col-xs-6">
      <p class="description-text">
        The <strong class="blue-color">LUCA Verify</strong> service allows service providers to verify a mobile number instantly and securely within the mobile browser or mobile app when on the carrier mobile data network.
      </p>
      <p class="description-text">
        Using technology built into the network, the service offers <strong>enhanced security for service providers and end users, with no need to trade off security for improved customer experience</strong>.
      </p>
    </div>
    <div class="col-xs-6">
      <p class="description-text">
        The <strong class="blue-color">LUCA Verify API</strong> allows service providers to passively match the end user MSISDN to the MSISDN being used in the associated SIM card and mobile device in real-time on the carrier mobile network.
      </p>
      <p class="description-actions">
        <span class="title">
          Sandbox URL:
        </span>
        <%= link_to 'https://sandbox.smartdigits.io/apidocs/verify', 'https://sandbox.smartdigits.io/apidocs/verify' %>
      </p>

    </div>
  </div>

  <div class="info-icons">
    <%= partial "components/info_icons" %>
  </div>
</div>
