<%
  demoLink ||= false
%>

<div class="global-actions">
  <div class="content">
    <div class="row between-xs">
      <a href="/assets/downloads/<%= link %>" class="c-btn btn-secondary btn-large" target="_blank">
        <span class="c-btn-text">Product sheet</span>
      </a>
      <% if demoLink %>
        <a href="#" class="c-btn btn-secondary has-icon btn-large" data-toggle="modal" data-target="#demo">
          <i class="ico icon-chevron_right"></i>
          <span class="c-btn-text">See demo online</span>
        </a>
      <% end %>
    </div>
  </div>
</div>
