<div class="content">
  <div class="heading-title">
    <p class="bx--type-quote"><%= I18n.t(:header_note) %></p>
    <h1 class="bx--type-xl">
      <%= I18n.t(:header_title) %>
    </h1>
    <h2 class="bx--type-h3">
      <%= I18n.t(:header_text) %>
    </h2>
  </div>
  <div class="featured">
    <%= partial "components/featured" %>
  </div>
</div>
