<div class="content">
  <div class="heading-title">
    <p class="bx--type-quote">Smart Digits – Mobile Identity & Attributes Sandboxes (UK)</p>
    <h1 class="bx--type-xl">
      Better product solutions with the most incredible APIs
    </h1>
    <h2 class="bx--type-h3">
      in order to consolidate and improve the safety and customer service
    </h2>
  </div>
  <div class="featured">
    <%= partial "components/featured" %>
  </div>
</div>
