
<div class="content">
  <p class="info-text">
    <strong>SMART DIGITS</strong> is a B2B platform and set of secure REST based API services that allows access to unique, personal, data insights. These insights can be used by service providers to transform and enhance their customer experience and user journeys,
    while at the same time improving security and reducing fraud.
  </p>
  <div class="info-banner">
    <div class="info-banner__text">
      <p class="bx--type-h1">Ready to get started?</p>
      <p class="note">Contact us for a demo</p>
    </div>
    <div class="info-banner__action">
      <%= link_to 'Contact me', 'mailto:hello@luca-d3.com', class: 'c-btn btn-primary inverse btn-medium' %>
    </div>
  </div>
</div>
