<nav>
  <ul class="navigation">
    <li><%= link_to "VERIFY", "#verify" %></li>
    <li><%= link_to "ATP – Account Takeover Protection", "#atp" %></li>
    <li><%= link_to "MATCH", "#match" %></li>
  </ul>
</nav>
