<nav>
  <ul class="navigation">
    <li><%= link_to "SMART DIGITS", "" %></li>
    <li><%= link_to "Verify", "" %></li>
    <li><%= link_to "ATP – Account Takeover Protection", "" %></li>
    <li><%= link_to "MATCH", "" %></li>
  </ul>
</nav>
