<nav>
  <ul class="navigation">
    <li><%= link_to I18n.t(:atp), "#atp" %></li>
    <li><%= link_to I18n.t(:match), "#match" %></li>
    <li><%= link_to I18n.t(:verify), "#verify" %></li>
  </ul>
</nav>
