/* =============================================================================
   SIDEBAR (layout/_sidebar.scss)
   ========================================================================== */

%active_svg {
  svg {
    stroke: $blue;
    fill: $white;
    fill-opacity: 1;
  }
}

$sidebar-width: 105px;

.l-sidebar {
  width: 100%;
  text-align: center;
  background: $white;
  position: fixed;
  z-index: 9999;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey03;
  @include media($mobile) {
    width: $sidebar-width;
    padding-top: 20px;
    min-height: 100vh;
    display: block;
    border-right: 1px solid $grey03;
  }

  .logo-sidebar {
    background-image: image-url('brand_logos/logo_sidebar_m.svg');
    background-position: 50% 13%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    margin: 0 auto;
    @include size(60px, 35px);

    @include media($mobile) {
      background-image: image-url('brand_logos/logo_sidebar.png');
      @include size(75px, 35px);


    }
  }
  .logo {
    padding: 15px 20px 0;
    @include media($mobile) {
      padding: 0;
    }
    .note {
      @extend %txt-notes-positive;
      display: block;

    }
    svg {
      width: 65px;
    }
  }

  .sidebar-menu {
    -webkit-padding-start: 0;
    @include media($mobile) {
      margin-top: 80px;
    }
    li {
      list-style: none;

      margin: 0 12px;
      display: inline-block;
      @include media($mobile) {
        margin: 0 0 60px;
        display: block;

      }
      .name-menu {
        transition: $transition-slow;
      }
      &.active {
        @extend %active_svg;
        .name-menu {
          color: $blue;
        }
      }
      a {
        display: block;
        &:hover, &.active {
          @extend %active_svg;
          + .name-menu {
            color: $blue;
          }
        }

      }
      svg {
        stroke: $grey07;
        fill: $white;
        fill-opacity: 1;
        transition: $transition-slow;

      }
    }
    .bx--type-legend {
      margin-bottom: 42px;
      font-size: rem-calc(11);
      display: none;
      @include media($mobile) {
        display: block;
      }
    }
    .name-menu {
      @extend %txt-label;
      display: block;
      margin-top: 5px;
      color: $grey07;
      display: none;
      @include media($mobile) {
        display: block;
      }
    }
  }
  .m-ico-search {
    background: image-url('ic-search.svg') no-repeat;
    @include size(20px);
    align-self: center;
    margin: 0 25px 0 20px;
  }

  .footer-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    background-color: $grey03;
    width: 100%;
    @include position(absolute, null null 20px null);
    svg {
      width: 85%;
    }
  }
}
