@font-face {
  font-family: 'Telefonicaextralight';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonica-extralight.eot');
    src: font-url('telefonica-extralight.eot?#iefix')                format('embedded-opentype'),
         font-url('telefonica-extralight.woff')                      format('woff'),
         font-url('telefonica-extralight.ttf')                       format('truetype'),
         font-url('telefonica-extralight.svg#Telefonicaextralight')  format('svg');
}

@font-face {
  font-family: 'Telefonicalight';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonica-light.eot');
    src: font-url('telefonica-light.eot?#iefix')              format('embedded-opentype'),
         font-url('telefonica-light.woff')                    format('woff'),
         font-url('telefonica-light.ttf')                     format('truetype'),
         font-url('telefonica-light.svg#Telefonicalight')     format('svg');
}

@font-face {
  font-family: 'Telefonicaregular';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonica-regular.eot');
    src: font-url('telefonica-regular.eot?#iefix')             format('embedded-opentype'),
         font-url('telefonica-regular.woff')                   format('woff'),
         font-url('telefonica-regular.ttf')                    format('truetype'),
         font-url('telefonica-regular.svg#Telefonicaregular')  format('svg');
}

@font-face {
  font-family: 'Telefonicatextbold';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonicatext-bold.eot');
    src: font-url('telefonicatext-bold.eot?#iefix')              format('embedded-opentype'),
         font-url('telefonicatext-bold.woff')                    format('woff'),
         font-url('telefonicatext-bold.ttf')                     format('truetype'),
         font-url('telefonicatext-bold.svg#Telefonicatextbold')  format('svg');
}

@font-face {
  font-family: 'Telefonicatextregular';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonicatext-regular.eot');
    src: font-url('telefonicatext-regular.eot?#iefix')                 format('embedded-opentype'),
         font-url('telefonicatext-regular.woff')                       format('woff'),
         font-url('telefonicatext-regular.ttf')                        format('truetype'),
         font-url('telefonicatext-regular.svg#Telefonicatextregular')  format('svg');
}

@font-face {
  font-family: 'Telefonicabold';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonica-bold.eot');
    src: font-url('telefonica-bold.eot?#iefix')          format('embedded-opentype'),
         font-url('telefonica-bold.woff')                format('woff'),
         font-url('telefonica-bold.ttf')                 format('truetype'),
         font-url('telefonica-bold.svg#Telefonicabold')  format('svg');
}
