$white: #fff;
$black: #000;

$grey: #4A4A4A;
$grey01: #999;
$grey02: #D8D8D8;
$grey03: #F2F2F2;

$grey04: #676767;
$grey05: #4A4A4A;

$grey06: #9B9B9B;

$grey07: #ccc;

$grey08: #50535A;
$grey09: #3A3A3A;
$grey10: #86888C;
$grey11: #606060;

$pills: #004466;
$pills-hover: #006699;

$blue: #00AAEE;
$blue01: #003B71;
$blue02: #4A90E2;
$blue03: #3376BF;
$light-blue: #DFF5F5;
$green: #00EEAA;
$yellow: #FFF000;
$orange: #FF7A00;
$pink: #FF0099;
$red: #F80000;
$purple: #854D9F;
$purple2: #4C007D;
$pink01: #FF77FF;

$body-color: $white;
$primary-color: $blue;
$secondary-color: $green;
