/* =============================================================================
   LINKS (elements/_links.scss)
   ========================================================================== */

.bx--link {
  @extend %txt-links-positive;
  &.hover {
    color: $grey;
    &:before {
      right: 0;
    }
  }
  &.visited {
    color: $grey01;
    pointer-events: none;
  }
  &[aria-disabled='true'] {
    color: $grey07;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.blue-link {
  @extend %txt-links-positive;
  color: $blue;
}



.link-examples {
  .b-charts-type {
    margin-top: 0 !important;
  }
  .back {
    position: relative !important;
    transform: rotateY(0) !important;
    width: 300px !important;
    background: $white !important
  }
  .lds-resources {
    border-bottom: none !important;
    ul {
      margin-left: 0 !important;
    }
  }
  .lds-resources__content {
    display: block !important;
    margin-top: 0 !important;
  }
}
