<div class="pre-footer">
  <div class="content">
    <p class="text-normal">
      SMARTDIGITS is a B2B platform and set of secure REST based API services that 
      </p>
      <p class="text-bold">
      allows access to unique, personal, data insights.
      </p>
    <p class="text-big">
      These insights can be used by service providers to
  transform and enhance their customer experience and user journeys, while at the same time improving security and reducing fraud.
    </p>
    <%= link_to 'more info https://luca-d3.com', 'more info https://luca-d3.com' %>
  </div>
</div>

<footer class="footer">
  <div class="content">
      <%= svg_tag 'logo-luca.svg' %>
      <span class="copy">
        LUCA – Telefónica Data Unit  © 2018, all rights reserved.
      </span>
      <%= svg_tag 'telefonica-logo-white.svg' %>
  </div>
</footer>
