<div class="pre-footer">
  <div class="content">
    <p class="text-normal">
      SMARTDIGITS is a B2B platform and set of secure REST based API services that
      </p>
      <p class="text-bold">
      allows access to unique, personal, data insights.
      </p>
    <p class="text-big">
      These insights can be used by service providers to transform and enhance their customer experience and user journeys, while at the same time improving security and reducing fraud.
    </p>
    <%= link_to 'More info https://luca-d3.com', 'https://luca-d3.com', target: '_blank', alt: 'https://luca-d3.com' %>
  </div>
</div>

<footer class="footer">
  <div class="content">
      <%= link_to (svg_tag 'logo-luca.svg'), 'https://luca-d3.com/', target: '_blank', alt: 'LUCA Logo' %>
      <span class="copy">
        2019 © Telefónica Digital España, S.L.U All Rights Reserved
      </span>
      <%= link_to (svg_tag 'telefonica-logo-white.svg'), 'https://www.telefonica.com/es/home', target: '_blank', alt: 'Telefónica Logo' %>
  </div>
</footer>
