<div class="top-bar content">
  <div class="logo">
    <%= svg_tag 'logo-luca.svg' %>
  </div>

  <%= partial "components/navigation" %>

  <div class="second-logo">
    <%= svg_tag 'telefonica-logo.svg' %>
  </div>

</div>
