<div class="top-bar content">
  <div class="logo">
    <%= link_to (svg_tag 'logo-luca.svg'), 'https://luca-d3.com/', target: '_blank', alt: 'LUCA Logo' %>
  </div>
  <%= partial "components/navigation" %>
  <div class="second-logo">
    <%= link_to (svg_tag 'telefonica-logo.svg'), 'https://www.telefonica.com/es/home', target: '_blank', alt: 'Telefónica Logo' %>
  </div>
</div>
