.description {
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 50px;
  .content {
    padding-bottom: 100vh;
  }
  .bx--type-xl {
    margin-bottom: 50px;
  }
  .note {
    font-family: Telefonicalight;
    font-size: 24px;
    color: $blue;
    margin-bottom: 5px;
  }
  .description-text {
    font-family: Telefonicaregular;
    font-size: 18px;
    color: $grey09;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .description-actions {
    .title,
    a {
      font-family: Telefonicaregular;
      font-size: 18px;
      color: $blue;
      display: block;
    }
    a {
      color: $purple2;
      margin-top: 3px;
    }
  }
}


strong {
  font-family: Telefonicabold;
  &.blue-color{
    color: $blue;
    font-family: Telefonicaregular;
  }
}
