.titleDemo {
  font-family: Telefonicaextralight;
  font-size: 48px;
  color: #00AAEE;
  line-height: 1em;
}

.subtitleDemo {
  font-family: Telefonicaregular;
  font-size: 24px;
  color: #3A3A3A;
}

.labelInput {
  font-family: Telefonicaregular;
  font-size: 14px;
  color: #9B9B9B;
  margin-bottom: 10px;
}

.separatorInput {
  margin-top: 45px;
  @include media($mobile) {
      margin-top: 0;
  }
}


.separatorResult {
  margin-top: 30px;
  @include media($mobile) {
    margin-top: 0;
    margin-bottom: 40px;
    position: absolute;
    bottom: -100px;
  }
}

#buttonSummit {
  .c-btn {
    border-color: #00CEAC;
    color: #00CEAC;
    &:hover {
      background: #00CEAC;
      color: $white;;
    }
  }
}

#luca-logo {
  height: 20px;
}

#data-unit-logo {
  height: 20px;
}

#close-icon {
  padding: 15px 15px 0;
}

#phone {
  border: none;
  padding: 5px 0;
  font-family: Telefonicaregular;
  font-size: 18px;
  color: #999999;
  width: 100%;
  @include media($mobile) {
    width: 260px;

  }
}

input::placeholder {
  color: #999999;
}

#phone:focus {
  outline: none;
}

#progressBack {
  position: absolute;
  bottom: 0;
  background-color: #F6F6F6;
  width: 100%;
  height: 4px;
  @include media($mobile) {
    width: 260px;

  }
}

#progressFront {
  position: absolute;
  bottom: 0;
  background-color: #00CEAC;
  width: 0;
  height: 4px;
}

#progressIco {
  position: absolute;
  top: 1px;
  right: 15px;
  background-color: #1AA992;
  width: 0;
  height: 4px;
  .icon-ic-close {
    &:before {
      font-size: 12px;
    }
  }
}

#inputPhone {
  position: relative;
  width: 100%;
  @include media($mobile) {
    width: 260px;
  }
}

#resultBackground {
  width: 132px;
  height: 132px;
  background-color: #D0021B;
  border-radius: 50%;
  margin: auto;
}

#result {
  display: none;
}

#resultText {
  margin-top: 10px;
  font-family: Telefonicaregular;
  font-size: 24px;
  text-align: center;
}

#resultDescription {
  padding-top: 10px;
  font-family: Telefonicaregular;
  font-size: 14px;
  display: none;
  @include media($mobile) {
    width: 230px;
  }
}

.modal-footer {

  svg {
    fill: $black;
    width: 95%;
  }
}

.modal-content {
  @include media($mobile) {
    width: 640px;
    left: 50%;
    transform: translateX(-50%);
}

  .footer {
    background: #F6F6F6;
  }
}

.modal-dialog {
  height: 450px;
  @include media($mobile) {
    width: 640px;
  }
}

.modal-body {
  padding: 30px 40px 0 40px !important;
}

.modal-header {
  border: 0;
  padding: 0;
  .close {
    position: absolute;
    right: 5px;
    top: 15px;
    z-index: 99999;
    .icon-ic-close {
      &:hover {
        cursor: pointer;
      }
      &:before {
        font-size: 20px;
      }
    }
  }
}

.separatorButton {
  margin-top: 30px;
  @include media($mobile) {
    margin-top: 15px;

  }
}

.modal-footer {
  border: 0;
  padding: 16px;
}

.modal-inner {
  padding: 0 0 60px;
  position: relative;
  max-height: 100%;
  @include media($mobile) {
    max-height: 280px;
    padding: 90px 0 130px;
  }
}

.close {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.icon-eye {
  &:before {
    content: '';
    background: url(/assets/images/icons/eye.svg) no-repeat;
    width: 29px;
    height: 20px;
    display: block;
    padding-right: 22px;
    background-position: 0 center;
  }
}
