.titleDemo {
  font-family: Telefonicaextralight;
  font-size: 48px;
  color: #00AAEE;
  line-height: 1em;
}

.subtitleDemo {
  font-family: Telefonicaregular;
  font-size: 24px;
  color: #3A3A3A;
}

.labelInput {
  font-family: Telefonicaregular;
  font-size: 14px;
  color: #9B9B9B;
  margin-bottom: 10px;
}

#buttonSummit {
  position: absolute;
  bottom: 82px;
  right: 50px;
  .c-btn {
    border-color: #1AA992;
    color: #1AA992;
    &:hover {
      background: #1AA992;
      color: $white;;
    }
  }
}

#luca-logo {
  height: 20px;
}

#data-unit-logo {
  height: 20px;
}

#close-icon {
  padding: 15px 15px 0;
}

#phone {
  border: none;
  padding: 5px 0;
  font-family: Telefonicaregular;
  font-size: 18px;
  color: #999999;
  width: 240px;
}

input::placeholder {
  color: #999999;
}

#phone:focus {
  outline: none;
}

#progressBack {
  position: absolute;
  bottom: 0;
  background-color: #F6F6F6;
  width: 240px !important;
  height: 4px;
}

#progressFront {
  position: absolute;
  bottom: 0;
  background-color: #1AA992;
  width: 0;
  height: 4px;
}

#progressIco {
  position: absolute;
  top: 5px;
  right: 25px;
  background-color: #1AA992;
  width: 0;
  height: 4px;
  .icon-ic-close {
    &:before {
      font-size: 12px;
    }
  }
}

#inputPhone {
  position: relative;
  width: 240px;
}

#resultBackground {
  width: 132px;
  height: 132px;
  background-color: #D0021B;
  border-radius: 66px;
  margin: auto;
}

#result {
  display: none;
}

#resultText {
  margin-top: 10px;
  font-family: Telefonicaregular;
  font-size: 24px;
  text-align: center;
}

#resultDescription {
  padding-top: 10px;
  font-family: Telefonicaregular;
  font-size: 14px;
  display: none;
  width: 230px;
}

.modal-footer {

  svg {
    fill: $black;
    width: 95%;
  }
}

.modal-content {
  height: 420px !important;
  width: 640px !important;
  .footer {
    background: #F6F6F6;
  }
}

.modal-dialog {
  height: 450px !important;
  width: 640px !important;
  max-width: 640px !important;
}

.modal-body {
  padding: 50px 40px 0 40px !important;
}

.modal-header {
  border: 0;
  padding: 0;
  .close {
    position: absolute;
    right: 5px;
    top: 15px;
    z-index: 99999;
    .icon-ic-close {
      &:hover {
        cursor: pointer;
      }
      &:before {
        font-size: 20px;
      }
    }
  }
}

.modal-footer {
  border: 0;
  padding: 16px;
}

.separatorInput {
  margin-top: 80px;
}

.separatorResult {
  margin-top: 20px;
  margin-bottom: 0;
}

.separatorButton {
  margin: 88px auto auto;
}

.close {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
@media (max-width: 768px) and (min-width: 576px) {
  .modal-content {
    height: auto !important;
    width: auto !important;
  }

  .modal-dialog {
    height: auto !important;
    width: auto !important;
  }

  .separatorInput {
    margin-top: 45px;
    margin-bottom: 40px;
  }

  .separatorButton {
    margin-top: 58px;
    margin-bottom: 40px;
  }

  .separatorResult {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 577px) {
  .modal-content {
    height: auto !important;
    width: auto !important;
  }

  .modal-dialog {
    height: auto !important;
    width: auto !important;
  }

  .separatorInput {
    margin-top: 45px;
    margin-bottom: 40px;
  }

  .separatorButton {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .separatorResult {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
