.featured {
  background-image: url("/assets/images/fondo–poliedros2.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px;
  margin-top: 70px;
  @include media($mobile) {
    padding: 40px;
  }

  .featured-box {
    display: flex;
    background: $white;
    box-shadow: 0 0 4px 0 $grey07;

    .featured-box__item +
    .featured-box__item {
      @include media($medium-desktop) {
        border-left: 1px solid $grey07;
        border-right: 0;
      }
    }
      &__item {
        border-bottom: 0;
        border-right: 0;
        &:nth-child(2n + 1) {

          @include media($mobile) {
            border-right: 1px solid $grey07;
          }
          @include media($medium-desktop) {
            border-right: 0;
            border-top: 0;
          }
        }
        &:nth-child(-n + 2) {
          border-bottom: 1px solid $grey07;
          @include media($medium-desktop) {
            border-bottom: 0;
          }
        }
        padding: 30px;
        position: relative;
        transition: $transition-slow;
        &.background-blue {
          background-color: $blue;
          p,
          h2 {
            color: $white;
          }

          .c-btn {
            background: $white;
            color: $blue;
          }
        }
        .bx--type-p {
          margin-bottom: 15px;
          @extend %txt-text-negative;
          color: $grey09;
        }
        .c-btn {
          @include media($medium-desktop) {
            position: absolute;
            bottom: 30px;
          }
        }
        .note {
          margin-bottom: 20px;
          font-size: 16px;
          font-family: Telefonicabold;
          color: $grey10;
          text-overflow: ellipsis;
          overflow: hidden;
          a {
            color: $blue01;
          }
          &-green {
            color: $green;
          }
        }
        .bx--type-h1 {
          margin-bottom: 30px;
          font-family: Telefonicaregular;
        }
        &-active {
          background: $blue;

          .bx--type-h1,
          .bx--type-p {
            color: $white;
          }
        }
        .actions {
          padding-top: 5px;
          .bx--type-note {
            margin: 2px 0;
            a {
              color: $blue;

            }
          }
        }
      }
    }
  }
