.info {
  padding-left: 20px;
  padding-right: 20px;
  @include media($tablet) {
    padding-left: 90px;
    padding-right: 90px;
  }
  &-text {
    font-family: Telefonicaregular;
    font-size: 28px;
    color: $grey11;
    line-height: 42px;
    strong {
      color: $blue;
    }
  }
  .content {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.info-banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background: $purple2;
  padding: 20px;
  margin: 90px 0;
  @include media($mobile) {
    flex-direction: row;
    align-items: center;
    padding: 20px 30px 20px 70px;
  }
  &__action {
    margin-top: 30px;
    @include media($mobile) {
      margin-top: 0;
    }
  }
  &__text {
    @include media($mobile) {
      padding-right: 40px;
    }

  }
  .c-btn {
    background: $white;
  }
  &__text {
    .bx--type-h1 {
      color: $white;
      font-family: Telefonicalight;
    }
    .note {
      color: $white;
      font-family: Telefonicaregular;
      font-size: 18px;
    }
  }
}
