---
title: LUCA Summit
---


<div class="content">
  <section class="header">

  </section>

  <section class="heading">
    <div class="title">
        <p class="note">Smart Digits – Mobile Identity & Attributes Sandboxes (UK)</p>
        <h1 class="heading-h1">
          Better product solutions with the most incredible APIs
        </h1>
        <h2 class="heading-h2">
          in order to consolidate and improve the safety and customer service
        </h2>
    </div>
    <div class="featured">
      <%= partial "components/featured" %>
    </div>

  </section>


<section class="pre-footer">


</section>

<section class="footer">

</section>


</div>
