---
title: LUCA Summit
---

<section class="heading">
  <%= partial "components/heading" %>
</section>

<section class="info">
  <%= partial "components/info" %>
</section>

<section class="description">
  <%= partial "components/description" %>
</section>

<section class="global-actions">
  <div class="content">
    <div class="row between-xs">
      <a href="#" class="c-btn btn-secondary has-icon btn-large">
        <i class="ico icon-expand_more"></i>
        <span class="c-btn-text">Product sheet</span>
      </a>
      <a href="#" class="c-btn btn-secondary has-icon btn-large">
        <i class="ico icon-expand_more"></i>
        <span class="c-btn-text">See demo online</span>
      </a>
    </div>
  </div>
</section>
